body {
    background-color: #eee;
    margin: 0;
    font-family: helvetica;
}

a:link, a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
}

.title {
    background-color: #f44336;
    color: white;
    border-bottom: #111 1px solid;
    margin: 0;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    height: 40px;
    font-size: 35px;
    padding-right: 80px;
}

.topbar {
    background-color: #e43326;
    color: white;
    margin: 0;
    margin-bottom: 10px;
    padding: 0px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    height: 40px;
}

    .topbar div {
        display: flex;
        margin-right: 30px;
        padding-left: 5px;
        padding-right: 5px;
        color: white;
        font-size: 20px;
        height: 100%;
        align-content: center;
        flex-wrap: wrap;
    }
        .topbar div.menu:hover {
            background-color: #d42316;
        }

        .topbar div.menu a {
            display: flex;
            height: 100%;
            align-content: center;
            flex-wrap: wrap;
        }

        .topbar div a:link, a:visited {
            color: white;
        }

        .topbar div a:hover {
            background-color: #d42316;
        }

.container {
    padding-left: 20px;
    padding-right: 20px;
}

    .container .section {
        margin: 0;
        background-color: white;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        border: 2px solid #888
    }

    .container .statut {
    }

    .container .controle {
    }

h1 {
}

h2 {
    color: #f44336 !important
}

.alert {
    padding: 20px;
    color: white;
    margin-bottom: 15px;
    display: block;
}

    .alert.high {
        background-color: #f44336; /* Red */
    }

    .alert.low {
        background-color: #3643f4; /* Blue */
    }

.temperature-label {
    font-size: 30px;
    display: flex;
    align-items: center;
}

.arrow {
    margin-right: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: relative;
}

    .arrow.right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    .arrow.up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        border-color: #f44336; /* Red */
    }

    .arrow.down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        border-color: #3643f4; /* Blue */
        top: -3px;
    }
